---
import { renderRichText } from '@storyblok/js';
const { blok } = Astro.props

console.log("section", blok)
const { biography, pressDossier } = blok
console.log(pressDossier)
const urlPath = (() => {
    if (typeof window !== "undefined") return window.location.pathname;
    try {
        return new URL(Astro.request.url).pathname;
    } catch {
        return "/";
    }
})();

const isEn = /(^|\/)en(\/|$)/.test(urlPath);
console.log("urlPath", urlPath, "isEn", isEn);

---

{biography && (
    <div class="rich-text mx-4 sm:mx-8 sm:my-8 lg:mx-20 max-w-[900px] xl:mx-auto">
        {(() => {
            try {
                const renderedRichText = renderRichText(biography);
                return <Fragment set:html={renderedRichText} />;
            } catch (error) {
                console.error("Error rendering rich text:", error);
                return <p>{JSON.stringify(biography)}</p>;
            }
        })()}
        {pressDossier?.filename && (
            <a
                href="https://drive.google.com/drive/folders/10VCOXjkb74_fQ6EwCW6bLq6Wz8jaYyQs?usp=sharing"
                target="_blank"
                class="block mt-8 text-blue-600 underline hover:text-blue-800"
            >
                {!isEn ? "Dosier de prensa" : "Press Kit"}
            </a>
        )}
    </div>
)}