---
const { blok } = Astro.props
const {label, link} = blok
console.log("menuItem", blok)
---

<li class="text-center">
    <a href={link.cached_url} class="hover:underline text-black">{label}</a>
</li>