---
const { blok } = Astro.props
const {label, link} = blok
const url = new URL(Astro.request.url);
const isEn = url.pathname.split('/').includes('en');

---

<li class="text-center">

    <a href={isEn ? `/en/${link.cached_url}` : `/${link.cached_url}`} class="hover:underline text-black">{label}</a>
</li>